<header class="navbar navbar-expand-xl navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Link Shortener", '/', id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><%= link_to "Home", '/' %></li>
                <li class="nav-item"><%= link_to "Sign Up", 'users/new' %></li>
                <li class="nav-item"><%= link_to "Log in", '#' %></li>
            </ul>
        </nav>
    </div>
</header>